:root{
--Nutmeg: hsl(14, 45%, 36%);
--DarkRaspberry: hsl(332, 51%, 32%);
--White: hsl(0, 0%, 100%);
--RoseWhite: hsl(330, 100%, 98%);
--Eggshell: hsl(30, 54%, 90%);
--LightGrey: hsl(30, 18%, 87%);
--WengeBrown: hsl(30, 10%, 34%);
--DarkCharcoal: hsl(24, 5%, 18%);
}
body{
    margin: 0 auto;
    max-width: 768px;
    min-width: 330px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    background-color: var(--Eggshell);
    font-family: 'Outfit';
    font-weight: 400;
}
section{
    width: 100%;     
    background-color: var(--White);
    border-radius: 1rem;
    
}
img{
    width: 100%;    
}
.contener{
    padding:0 2rem;
}
h1{
    font-family:'Young Serif';
    letter-spacing: .1rem;
    font-weight: 400;
}
p{   
    font-size: .75em;    
    color: var(--WengeBrown);
}
.contents{    
    background-color: var(--RoseWhite);
    padding: 1rem 2rem;
    border-radius: 1rem;    
}
.accent{
    font-weight: 700;
    color: var(--WengeBrown);
}
h3{
    color: var(--DarkRaspberry);
}

li{
    margin-top: .5rem;   
    font-size: .85em;
    color: var(--Nutmeg);  
    list-style-position: outside;  
}
h2{
    color: var(--Nutmeg);
    font-family: 'Young Serif';
    font-weight: 400;
    text-decoration: underline;
}
.row{    
    display: flex;
    justify-content: space-between;  
}
.col{
    width: 100%;
    padding: .5rem;   
    margin-bottom: 1rem; 
}
.col--primary{    
    color: var(--WengeBrown);  
      
}
.col--secondary{   
    color: var(--Nutmeg);
    font-weight: 700;      
}
@media(min-width:500px){
    section{
        margin: 4rem 0;
        padding: 2rem;
    }
    img{
        border-radius: .5rem;               
    }  
}


